.category-navbar {
  height: 38px;
  display: flex;
  align-items: center;
  background-color: #1b1f1f;
  /* position: sticky; */
  justify-content: space-between;
  z-index: 100;
}

.category-nav-container {
  display: flex;
  align-items: center;
}
.category-nav-container > a {
  font-size: 14px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
