.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  /* position: sticky; */
  top: 0;
  z-index: 100;
}

.logo {
  width: 100px;
  object-fit: contain;
  margin: 15px 15px 0px 0px;
  /* margin-top: 18px; */
  border: 1px solid transparent;
  padding: 3px;
}

.logo:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.category-drop-down-container {
  display: flex;
  align-items: center;
  width: 42px;
  position: relative;
  height: 100%;
}

.category-fascade-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category-drop-down {
  height: 100%;
  border-radius: 4px 0px 0px 4px;
  align-items: center;
  width: 40px;
  border: 2px solid silver;
  background-color: lightgray;
}

.search-bar {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
  height: 32px;
}

.search-bar-input {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
  /* border-radius: 4px 0px 0px 4px; */
}

.search-bar-input:focus {
  outline: none !important;
  border-color: (240, 193, 75);
  box-shadow: 0 0 0 2px rgb(250, 153, 17);
}

.search-bar-button-container {
  display: flex;
  /* flex: 1 1 auto; */
  width: 42px;
  position: static;
  height: 100%;
  /* background-position: 2px -280px; */
}

.search-bar-button {
  /* display: flex; */
  /* padding: 5px; */
  border: 3px solid rgb(205, 144, 66);
  height: 100%;
  background-color: rgb(205, 144, 66);
  border-radius: 0px 4px 4px 0px;
  align-items: center;
}

.search-bar-button:hover {
  cursor: pointer;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 3px;
  border: 1px solid transparent;
}

.nav-link:hover {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
}

.nav-link-top-line {
  font-size: 12px;
  text-decoration: none;
}

.nav-link-bottom-line {
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.nav-shopping-cart {
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

.shopping-cart-icon {
  width: 60px;
  height: 42px;
  object-fit: contain;
}

.nav-link-a {
  text-decoration: none;
}
